body {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}
.header__logo {
  cursor: pointer;
  font-size: large;
}
.header__nav {
  justify-content: center;
  display: flex;
  grid-area: menu;
}
.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
  color: black;
}

.header__nav a {
  text-decoration: none;
}
